{% with messages = get_flashed_messages() %}
{%if messages %}
{%for message in messages%}
<p>{{message}}</p>
{%endfor%}
{%endif%}
{%endwith%}
<form action="/add_contact" method="POST">
 <input type="text" name="nombre" placeholder="nombre">
 <input type="text" name="apellido" placeholder="apellido">
 <input type="text" name="celular" placeholder="celular">
 <input type="text" name="correo" placeholder="correo">
 <input type="text" name="contrasenia" placeholder="contrasenia">
 <button type="submit">
    save
 </button>
</form>
<table>
    <thead>
        <tr>
            <td>nombre</td>
            <td>apellido</td>
            <td>celular</td>
            <td>correo</td>
            <td>contrasenia</td>
        </tr>
    </thead>
    <tbody>
       {% for contact in contacts %}
       <tr>
           <td>{{ contact.1 }}</td>
           <td>{{ contact.2 }}</td>
           <td>{{ contact.3 }}</td>
           <td>{{ contact.4 }}</td>
           <td>{{ contact.5 }}</td>
       </tr>   
       {% endfor %}
    </tbody>
</table>